@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(113, 34, 195);
    background: linear-gradient(0deg, rgba(113, 34, 195, 1) 46%, rgba(45, 114, 253, 1) 100%);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 100px auto;
    padding: 20px;
}

.todo-app h3 {
    align-items: center;
    display: flex;
    
}

.todo-app h3 img {
    align-items: center;
    display: flex;
    width: 25px;
    margin-left: 5px;
}
