@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(113, 34, 195);
    background: linear-gradient(0deg, rgba(113, 34, 195, 1) 46%, rgba(45, 114, 253, 1) 100%);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 100px auto;
    padding: 20px;
}

.todo-app h3 {
    align-items: center;
    display: flex;

}

.todo-app h3 img {
    align-items: center;
    display: flex;
    width: 25px;
    margin-left: 5px;
}

.row {
    margin-top: 30px;
    display: flex;
    background: #edeef0;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    border-radius: 30px;
}

input {
    padding: 10px;
    flex: 1;
    outline: none;
    border: none;
    font-size: 15px;
    background: transparent;
}

button {
    background-color: rgb(249, 105, 53);
    border: none;
    font-size: 15px;
    border-radius: 40px;
    padding: 16px 40px;
    color: #fff;
    cursor: pointer;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    user-select: none;
}

ul li::before {
    content: '';
    height: 25px;
    width: 25px;
    background-image: url('images/unchecked.png');
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
    border-radius: 50%;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('./images/checked.png');

}

ul li span {
    position: absolute;
    right: 0;
    top: 8px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
  
}

ul li span:hover {
    color: red;
}