@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );

}
.container{
color: aliceblue;
margin: 20%;
max-width: 600px;
}
.display{
    padding: 50px;
    background-color: rgb(228, 245, 245);
    margin: 50px;
    justify-content: space-between;

}
.search{
    width: 80%;
height: 25px;

}
.display img{
    height: 20px;
    width: 20px;
cursor: pointer;
}