@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: black;

}

nav li {
    padding: 0 15px;
    color: white;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}

.brand img {
    width: 45px;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
}

.container {
    min-height: 71vh;
}

.bottom {
    background-color: black;
    position: sticky;
    height: 90px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.container {
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 20px;
    background-image: url('depositphotos_21380509-stock-illustration-music-equaliser-1.jpeg');
}

.icons {
    cursor: pointer;
}

.material-symbols-outlined {
    margin: 0 40px;
  
}


.songItems {
    height: 50px;
    display: flex;
    margin: 15px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

.songItems img {
    width: 70px;
    margin: 0 20px;
    border-radius: 40px;
    
}

.songListPlay {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 30px;
}
.playMusic img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}