@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.867);
}

.container {
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;

}
.material-symbols-outlined {
    font-size: 10em;
    background-color:rgba(0, 0, 0, 0.194)

}